<?xml version="1.0"?>
<configuration>
	<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
	<appSettings>
		<add key="PollingInterval" value="2"/>
		<!-- in minutes -->
		<add key="ReportQuery" value="select      creation_date,
            t.trade_num 'TRADE',
            iu.user_first_name + ' ' + iu.user_last_name 'Trader',
            case conclusion_type when 'U' then 'UNCONCLUDED' when 'C' then 'CONCLUDED' else 'OTHER' end as Status,
            rtrim(ti.cmdty_code) +'/'+ rtrim(ti.risk_mkt_code) as 'CurrPair',
            real_port_num,
            pt.tag_value as 'ProfitCenter',
            convert(float, tic.pay_curr_amt) 'PayAmt',
                    rtrim(tic.pay_curr_code) as 'PayCurr',
            convert(float, tic.rec_curr_amt) 'RecAmt',
                    rtrim(tic.rec_curr_code) as 'RecCurr',
            tic.payment_date 'Maturity',
            case when c.tiny_cmnt is not null then c.tiny_cmnt when c.short_cmnt is not null then c.short_cmnt when cmnt_text is not null then cmnt_text else '*' end as Comment,
            pt1.tag_value
from trade t
join trade_order tor on tor.trade_num=t.trade_num
join trade_item ti on ti.trade_num=tor.trade_num and ti.order_num=tor.order_num
join trade_item_curr tic on tic.trade_num=ti.trade_num and tic.order_num=ti.order_num and tic.item_num=ti.item_num
left outer join icts_user iu on iu.user_init=t.creator_init
join portfolio_tag pt on pt.port_num=ti.real_port_num and tag_name = 'PRFTCNTR'
left outer join portfolio_tag pt1 on t.port_num = pt1.port_num and pt1.tag_name = 'PRFTCNTR'
left outer join trade_comment tc on tc.trade_num=t.trade_num and trade_cmnt_type='T'
left outer join comment c on c.cmnt_num=tc.cmnt_num
where item_type='U' and conclusion_type not in ('C','I')
and pt.tag_value = 'METGVATREAS'
"/>
		<add key="TradeCapturePath" value="C:\tc\Icts\jms\Apps\TradeCapture.service\TradeCapture.exe"/>
	</appSettings>
</configuration>
